name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ secrets.MY_RELEASER_ID }}
          private-key: ${{ secrets.MY_RELEASER_PRIVATE_KEY }}

      - uses: googleapis/release-please-action@v4
        with:
          release-type: simple
          initial-version: 0.1.0
          bump-minor-pre-major: true
          token: ${{ steps.app-token.outputs.token }}
